/* 
    TODO
    - [x] Adicionar tags semânticas
    - [x] Modificar as unidades
    - [x] Modificar o background do subtítulo vantagens
    - [] Mudar os estados de alguns elementos:
        - borda vermelha nos botões
        - vermelho escuro no hover do botão (#900)
        - bordar esquerda vermelha nas vantagens e pintar os itens impares

*/

/* Gerais */

:root {
    /* Cores */
    --cinza: #f7f7f7;
    --cinza-escuro: #c6c6c6;
    --vermelho: #ee2211;
    --vermelho-escuro: #900;

    /* Tipografia */
    --fonte: Arial, Helvetica, sans-serif;
    --paragrafos: 1.25rem;
    --vantagens-font: 4rem;

    /* Tamanhos */
    --conteudo-principal: 1000px;
}


* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cinza);
    display: grid;
    gap: 3.75rem;
    padding-top: 3.75rem;
    justify-items: center;
}

/* Header */

header {
    display: grid;
    justify-self: stretch;
    gap: 1.25rem;
    justify-items: center;
}

a {
    padding: 0.9rem 1.8rem;
    border-radius: 4px;
    text-decoration: none;
    background-color: white;
    color: #111;
    text-transform: uppercase;
    font-weight: 400;
}

a:hover:not(.info a) {
    outline: 2px solid var(--vermelho);
}

.menu {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;

}

/* Main */

main {
    max-width: var(--conteudo-principal);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card:not(.bike-card) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding: 2.5rem;
}

main .card:first-child, main .card:last-child {
    background-color: white;
}

.info {
    text-align: end;
    position: relative;
}

.info a {
    background-color: var(--vermelho);
    color: white;
    align-self: end;
    display: inline-block;
    margin-top: 16px;
}

.info a:hover {
    background-color: var(--vermelho-escuro);
}

.info::before {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: var(--vermelho);
    position: absolute;
    top: 16px;
    right: -30px;
}

.bike-card {
    border: 2px solid;
}

.bike-card img {
    max-width: 100%;
    display: block;
}


/* .guidao {
    width: 60px;
    height: 4px;
    background-color: var(--vermelho);
    position: absolute;
    top: 16px;
    left: 0;
    translate: -50% 0;
    overflow-x: auto;
} */

.vantagens h2 {
    width: fit-content;
    font-size: var(--vantagens-font);
    color: var(--cinza-escuro);
    text-align: end;
    text-transform: uppercase;
    background-image: url("assets/img/onda.svg");
    padding: 2.5rem;
}

.caracteristicas-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 20px;
    padding: 20px;
}

.caracteristicas-item:hover {
    border-left: 4px solid var(--vermelho);
}

.caracteristicas-item:nth-child(odd) {
    background-color: var(--cinza);
}

.caracteristicas-item p {
    grid-column: 2;
}

p {
    font-size: var(--paragrafos);
}

/* Footer */

footer {
    padding: 60px;
    background-color: white;
    text-align: center;
    justify-self: stretch;
}

